@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  width: 80%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
}

body {
  background-color: #121212;
}


main {
  font-family: 'Inter', sans-serif;
}

.opacity-0 {
  opacity: 0;
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end), 1s infinite;
}

.bubble {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blinking {
  50% {
    border-color: rgb(255, 255, 255)
  }
}

.perfil {
  border: 5px solid #9933ff;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, #9933ff 0%, #66ccff 100%);
}

.perfil:hover {
  border: 5px solid #66ccff;
  background: linear-gradient(to right, #66ccff 0%, #9933ff 100%);
}

.flex a {
  margin: 10px;
  /* Espaçamento entre as imagens */
  padding: 1px;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  background-color: none;


  /* Define a perspectiva para o efeito 3D */
}

.flex a img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  /* Adicione uma transição suave para suavizar o efeito */
  transform-style: preserve-3d;

  /* Mantém os elementos filhos em 3D */
}

/* Estilos para o efeito de rotação */
.flex a:hover img {
  transform: rotateY(360deg);
  background-color: #9933ff;
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 5px;
  /* Gire a imagem 180 graus no eixo Y */
}

.menu {
  background: linear-gradient(to top, #000000 0%, #9933ff 100%);
}

.button-nav {
  border: 0px solid;
  outline: 2px solid;
  color: white;
  outline-color: white;
  outline-offset: 0px;
  text-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2.5rem;
  max-width: 170px;
  width: 100%;
  letter-spacing: 0.3rem;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: all 550ms cubic-bezier(.36, .63, .5, .73);
}

.button-nav button {
  border: 0px solid;
  outline: 2px solid;
  color: white;
  outline-color: white;
  outline-offset: 0px;
  text-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2.5rem;
  max-width: 170px;
  width: 100%;
  letter-spacing: 0.3rem;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: all 550ms cubic-bezier(.36, .63, .5, .73);
}

.button-nav:hover {
  border: 2px solid #000000;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: #000000;
}


.button-nav {

  font-size: calc(0.5rem + 1vw);
  min-width: 100px;
  max-width: 200px;
}

@media (min-width: 768px) {
  .button-nav {
    font-size: 1rem;
  }
}